In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
# 让画图内置
%matplotlib inline

# 忽略版本号之类的warnings
import warnings
warnings.filterwarnings('ignore')
import os
from datetime import date

# 数据导入

In [ ]:
# 导入数据
# original_data = pd.read_csv('data\processed_data.csv')
# data = original_data.copy()
# data.shape

In [ ]:
# 导入数据
data = pd.read_csv('data\processed_data.csv')
data.shape

(42413557, 11)

In [ ]:
data['event_time'] = pd.to_datetime(data['event_time'])
data['category_code'] = data['category_code'].astype('category')
data['brand'] = data['brand'].astype('category')

data['event_day'] = data['event_time'].dt.date
data['event_hour'] = data['event_time'].dt.hour

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42413557 entries, 0 to 42413556
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     datetime64[ns]
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  category
 5   brand          category
 6   price          float64
 7   user_id        int64
 8   category       object
 9   sub_category   object
 10  product_name   object
 11  event_day      object
 12  event_hour     int32
dtypes: category(2), datetime64[ns](1), float64(1), int32(1), int64(3), object(5)
memory usage: 3.4+ GB

In [ ]:
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,category,sub_category,product_name,event_day,event_hour
0,2019-10-01 00:00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,NaN,NaN,NaN,2019-10-01,0
1,2019-10-01 00:00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,appliances,environment,water_heater,2019-10-01,0
2,2019-10-01 00:00:01,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,furniture,living_room,sofa,2019-10-01,0
3,2019-10-01 00:00:01,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,computers,notebook,notebook,2019-10-01,0
4,2019-10-01 00:00:04,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,electronics,smartphone,smartphone,2019-10-01,0

# 商品价值
- '下单数','动销商品数','gmv','单均价'

In [ ]:
# 商品价值
product_info = data.query('event_type == "purchase"').groupby('event_type').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})
product_info.columns = ['下单数','动销商品数','gmv','单均价']
product_info

               下单数  动销商品数           gmv         单均价
event_type
purchase    742773  42241  2.299332e+08  309.560542

## 分类别

In [ ]:
product_info_bycategory = data.query('event_type == "purchase"').groupby('category').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})
product_info_bycategory.columns = ['下单数','动销商品数','gmv','单均价']
product_info_bycategory

                 下单数  动销商品数           gmv         单均价
category
accessories     1587    554  6.878388e+04   43.342079
apparel         8002   2512  6.249378e+05   78.097694
appliances     74988   4838  1.358176e+07  181.119120
auto           10619    609  1.273956e+06  119.969461
computers      27853   2638  1.137787e+07  408.497139
construction    7801    939  9.329950e+05  119.599413
country_yard      72     29  1.569545e+04  217.992361
electronics   422979   4698  1.764456e+08  417.149735
furniture       8299   1634  1.673243e+06  201.619835
kids            5482   1007  6.781407e+05  123.703150
medicine         310     12  1.350042e+04   43.549742
sport           1236    270  3.225590e+05  260.970065
stationery       134     63  2.027380e+03   15.129701

## 分小类

In [ ]:
product_info_bysubcate = data.query('event_type == "purchase"').groupby(['category','sub_category']).agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bysubcate.columns =  ['下单数','动销商品数','gmv','单均价']

product_info_bysubcate.query('下单数 > 0')

                                下单数  动销商品数           gmv         单均价
category     sub_category
accessories  bag               1253    421  5.315553e+04   42.422610
             umbrella            24      8  6.115200e+02   25.480000
             wallet             310    125  1.501683e+04   48.441387
apparel      belt                21      9  1.222400e+03   58.209524
             costume            489     90  4.649298e+04   95.077669
             dress               15     13  8.713100e+02   58.087333
             jacket               1      1  4.323000e+01   43.230000
             jeans              140     64  6.163230e+03   44.023071
             jumper               2      1  6.126000e+01   30.630000
             scarf               10      8  2.419300e+02   24.193000
             shirt               38     25  1.940570e+03   51.067632
             shoes             7082   2178  5.612413e+05   79.248988
             shorts               2      1  3.218000e+01   16.090000
             skirt                4      2  1.098500e+02   27.462500
             sock                21      8  1.283080e+03   61.099048
             trousers            22     13  1.102310e+03   50.105000
             tshirt              58     34  2.028640e+03   34.976552
             underwear           97     65  2.103450e+03   21.685052
appliances   environment      18073    953  2.320239e+06  128.381508
             iron              3652    269  2.236072e+05   61.228697
             ironing_board      664     43  2.633348e+04   39.658855
             kitchen          48119   3084  1.053302e+07  218.895239
             personal          2541    307  7.420488e+04   29.203022
             sewing_machine    1939    182  4.043560e+05  208.538437
auto         accessories      10619    609  1.273956e+06  119.969461
computers    components        3514    768  4.515633e+05  128.504058
             desktop           3232    445  1.116822e+06  345.551355
             ebooks             294     22  4.783162e+04  162.692585
             notebook         15588    614  8.978883e+06  576.012537
             peripherals       5225    789  7.827705e+05  149.812544
construction components         297    115  1.490295e+04   50.178283
             tools             7504    824  9.180921e+05  122.347024
country_yard cultivator          28     10  9.204610e+03  328.736071
             lawn_mower          44     19  6.490840e+03  147.519091
electronics  audio            35590   1356  4.151286e+06  116.641928
             camera             524     96  2.464606e+05  470.344695
             clocks           17903   1439  4.817089e+06  269.066025
             smartphone      337979    924  1.570339e+08  464.626246
             tablet            5602    222  1.610917e+06  287.561123
             telephone         3738    255  1.267313e+05   33.903502
             video            21643    406  8.459179e+06  390.850590
furniture    bathroom           245     83  2.029459e+04   82.835061
             bedroom           2498    471  3.848088e+05  154.046777
             kitchen           1898    422  1.789866e+05   94.302724
             living_room       3618    627  1.086465e+06  300.294229
             universal           40     31  2.688480e+03   67.212000
kids         carriage          2281    356  3.706734e+05  162.504787
             dolls              344     99  1.366227e+04   39.715901
             fmcg               768    115  1.049767e+04   13.668841
             skates             704     96  2.025823e+05  287.758935
             swing              330     62  4.475647e+04  135.625667
             toys              1055    279  3.596855e+04   34.093412
medicine     tools              310     12  1.350042e+04   43.549742
sport        bicycle            838    193  2.036947e+05  243.072470
             ski                 16     12  3.918380e+03  244.898750
             snowboard            6      4  1.589220e+03  264.870000
             tennis               9      9  3.452400e+02   38.360000
             trainer            367     52  1.130114e+05  307.933052
stationery   cartrige           134     63  2.027380e+03   15.129701

## 分商品名

In [ ]:
product_info_bypname = data.query('event_type == "purchase"').groupby('product_name').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bypname.columns = ['下单数','动销商品数','gmv','单均价']

product_info_bypname.query('下单数 > 0')

                   下单数  动销商品数         gmv         单均价
product_name
acoustic           888    171   205951.27  231.927106
air_conditioner    411     98   201596.51  490.502457
air_heater        2483    232   110755.87   44.605667
alarm             2441     76   335979.32  137.640033
bag               1253    421    53155.53   42.422610
...                ...    ...         ...         ...
wallet             310    125    15016.83   48.441387
washer           16146    342  4658223.46  288.506346
water_heater      2774    199   290985.54  104.897455
welding           1081     88   173856.12  160.828973
winch               26      7    14555.14  559.813077

[119 rows x 4 columns]

## 分品牌

In [ ]:
product_info_bybrand = data.query('event_type == "purchase"').groupby('brand').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bybrand.columns = ['下单数','动销商品数','gmv','单均价']

product_info_bybrand.query('下单数 > 0')

         下单数  动销商品数       gmv         单均价
brand
a-case    58     17    275.26    4.745862
a-derma    1      1     12.36   12.360000
a-mega     9      5   1031.47  114.607778
abk        6      1     69.36   11.560000
abtoys     7      1    324.17   46.310000
...      ...    ...       ...         ...
zoom       1      1    167.31  167.310000
zotac      4      2    279.43   69.857500
zte      173      3  13623.87   78.750694
zubr      14      8    659.05   47.075000
zuru       2      1     25.68   12.840000

[1983 rows x 4 columns]

## 分商品id

In [ ]:
product_info_bybrand = data.query('event_type == "purchase"').groupby('product_id').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bybrand.columns = ['下单数','动销商品数','gmv','单均价']

product_info_bybrand.query('下单数 > 0')

            下单数  动销商品数      gmv         单均价
product_id
1000978      12      1  3840.13  320.010833
1001588      12      1  1538.18  128.181667
1002042       3      1   231.42   77.140000
1002062      18      1  1723.47   95.748333
1002098      13      1  4818.32  370.640000
...         ...    ...      ...         ...
59000007      1      1    47.88   47.880000
60400006      1      1   332.05  332.050000
60500001      4      1   102.34   25.585000
60500002      4      1   170.82   42.705000
60500009      1      1    27.21   27.210000

[42241 rows x 4 columns]

## 分下单方式
- 直接下单 / 加购后下单