In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
# 让画图内置
%matplotlib inline

# 忽略版本号之类的warnings
import warnings
warnings.filterwarnings('ignore')
import os
from datetime import date

# 数据导入

In [ ]:
# 导入数据
# original_data = pd.read_csv('data\processed_data.csv')
# data = original_data.copy()
# data.shape

In [2]:
# 导入数据
data = pd.read_csv('data\processed_data.csv')
data.shape

(42413557, 11)

In [3]:
data['event_time'] = pd.to_datetime(data['event_time'])
data['category_code'] = data['category_code'].astype('category')
data['brand'] = data['brand'].astype('category')

data['event_day'] = data['event_time'].dt.date
data['event_hour'] = data['event_time'].dt.hour

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42413557 entries, 0 to 42413556
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     datetime64[ns]
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  category
 5   brand          category
 6   price          float64
 7   user_id        int64
 8   category       object
 9   sub_category   object
 10  product_name   object
 11  event_day      object
 12  event_hour     int32
dtypes: category(2), datetime64[ns](1), float64(1), int32(1), int64(3), object(5)
memory usage: 3.4+ GB

In [36]:
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,category,sub_category,product_name,event_day,event_hour,event_weekday
0,2019-10-01 00:00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,NaN,NaN,NaN,2019-10-01,0,1
1,2019-10-01 00:00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,appliances,environment,water_heater,2019-10-01,0,1
2,2019-10-01 00:00:01,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,furniture,living_room,sofa,2019-10-01,0,1
3,2019-10-01 00:00:01,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,computers,notebook,notebook,2019-10-01,0,1
4,2019-10-01 00:00:04,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,electronics,smartphone,smartphone,2019-10-01,0,1

# 总体运营指标

In [ ]:
# pv uv
data.query('event_type == "view"').groupby('event_type').agg(PV = ('user_id','count'),
              UV = ('user_id','nunique'))

                  PV       UV
event_type
view        40772341  3022130

In [ ]:
# 订单数 gmv
data.query('event_type == "purchase"').groupby('event_type').agg(order_num = ('user_id','count'),
                                    gmv = ('price','sum'))

            order_num  order_user_num  ordered_product_num           gmv
event_type
purchase       742773          347118                42241  2.299332e+08

In [ ]:
# 各行为计数
behavior_info = data.groupby('event_type').agg({'event_type': 'count'}).unstack().unstack()
behavior_info['conversion_rate'] = behavior_info['purchase'] / behavior_info['view']
behavior_info

event_type    cart  purchase      view  conversion_rate
event_type  898443    742773  40772341         0.018218

In [ ]:
# 下单数,动销商品数,gmv,单均价
product_info = data.query('event_type == "purchase"').groupby('event_type').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})
product_info.columns = ['下单数','动销商品数','gmv','单均价']
product_info

               下单数  动销商品数           gmv         单均价
event_type
purchase    742773  42241  2.299332e+08  309.560542

# 平台经营

## PV UV

In [71]:
view_info  = data.query('event_type == "view"')
puv = view_info.groupby('event_type').agg(PV = ('user_id','count'),
              UV = ('user_id','nunique'))
puv

                  PV       UV
event_type
view        40772341  3022130

### 分日

In [70]:
view_info.groupby(['event_day']).agg(PV = ('user_id','count'),
              UV = ('user_id','nunique'))

                 PV      UV
event_day
2019-10-01  1208165  190158
2019-10-02  1154436  184955
2019-10-03  1088577  170655
2019-10-04  1346162  209393
2019-10-05  1271176  194949
2019-10-06  1263876  193194
2019-10-07  1160929  186939
2019-10-08  1328893  221194
2019-10-09  1306089  214133
2019-10-10  1242891  205307
2019-10-11  1447502  230514
2019-10-12  1433723  208349
2019-10-13  1584488  225923
2019-10-14  1381286  209077
2019-10-15  1466116  230118
2019-10-16  1445559  230184
2019-10-17  1338173  208456
2019-10-18  1415597  229444
2019-10-19  1384908  217897
2019-10-20  1443869  231826
2019-10-21  1343132  225238
2019-10-22  1354156  223369
2019-10-23  1319648  219081
2019-10-24  1256473  206920
2019-10-25  1374227  223233
2019-10-26  1289569  202100
2019-10-27  1330652  201332
2019-10-28  1221695  195544
2019-10-29  1189864  193148
2019-10-30  1172126  191946
2019-10-31  1208384  198544

### 分时

In [42]:
view_info.groupby(['event_hour']).agg(PV = ('user_id','count'),
              UV = ('user_id','nunique'))

                 PV      UV
event_hour
0            299740   59584
1            545513  116376
2           1036894  209100
3           1485498  290737
4           1826073  351996
5           2020202  387131
6           2154159  413004
7           2217399  426678
8           2267568  432146
9           2228945  421753
10          2181257  413410
11          2086570  398675
12          2040518  393493
13          2263309  419289
14          2590043  442995
15          2892301  459169
16          2971773  445817
17          2663078  384366
18          2069058  311609
19          1303958  191347
20           722698  107685
21           425065   64531
22           264757   41243
23           215965   37080

## 下单数 gmv 客单价

In [9]:
# 订单数 gmv
order_info  = data.query('event_type == "purchase"')
order_info.groupby('event_type').agg(order_num = ('user_id','count'),
                                    gmv = ('price','sum'),
                                    ATV = ('price','mean'))

            order_num           gmv
event_type
purchase       742773  2.299332e+08

### 分日

In [10]:
order_info_byday= order_info.groupby('event_day').agg(order_num = ('user_id','count'),
                                    gmv = ('price','sum'))
order_info_byday

            order_num         gmv
event_day
2019-10-01      19305  6275579.06
2019-10-02      19469  6213628.53
2019-10-03      19255  6233782.98
2019-10-04      27039  8623058.19
2019-10-05      23492  7341094.46
2019-10-06      22169  6737258.17
2019-10-07      21378  6348189.06
2019-10-08      23071  6819701.26
2019-10-09      22747  6855326.05
2019-10-10      21992  6665413.21
2019-10-11      26224  7716208.55
2019-10-12      25373  7307691.57
2019-10-13      29561  8457606.49
2019-10-14      28405  9356691.65
2019-10-15      26371  8652872.26
2019-10-16      31393  9747164.72
2019-10-17      28317  9026019.07
2019-10-18      25849  8154781.53
2019-10-19      24657  7562479.36
2019-10-20      25097  7515168.65
2019-10-21      25165  7862143.64
2019-10-22      25383  7913671.44
2019-10-23      24730  7614084.79
2019-10-24      23999  7470344.60
2019-10-25      23883  7235218.34
2019-10-26      22653  6917602.84
2019-10-27      23401  7197520.64
2019-10-28      21111  6591445.12
2019-10-29      20372  6432162.00
2019-10-30      20815  6633882.15
2019-10-31      20097  6455422.25

### 分时

In [12]:
order_info_byhour= order_info.groupby('event_hour').agg(order_num = ('user_id','count'),
                                    gmv = ('price','sum'))
order_info_byhour

            order_num          gmv
event_hour
0                2949    980317.85
1                5526   1577532.87
2               13968   3873027.44
3               29632   8696837.45
4               41143  12064072.73
5               48068  14398553.24
6               52002  15808753.76
7               53404  16338607.12
8               55195  17058580.92
9               55182  17551669.73
10              51902  16361933.71
11              47311  15082588.07
12              41840  13238529.07
13              39135  12363944.23
14              37363  11476514.59
15              37632  11039895.72
16              35772  10636257.46
17              30872   9395005.91
18              24321   7968696.06
19              16747   5761335.06
20               9892   3504661.41
21               6278   2350810.75
22               3837   1409146.30
23               2802    995941.18

# 销售转化
- 只考虑行为次数， 不考虑 价格/人数/商品数

## 行为数 下单转化率

In [82]:
# 各行为计数
behavior_info = data.groupby('event_type').agg({'event_type': 'count'}).unstack().unstack()
behavior_info['conversion_rate'] = behavior_info['purchase'] / behavior_info['view']
behavior_info

event_type    cart  purchase      view  conversion_rate
event_type  898443    742773  40772341         0.018218

### 分日

In [5]:
behavior_info_byday = data.groupby(['event_day', 'event_type']).agg({'event_type': 'count'}).unstack()
behavior_info_byday.columns = ['cart','purchase','view']
behavior_info_byday['conversion_rate'] = (behavior_info_byday['purchase'] / behavior_info_byday['view']*100).astype(str).apply(lambda x: x[:4]) + '%'
behavior_info_byday

             cart  purchase     view conversion_rate
event_day
2019-10-01  16193     19305  1208165           1.59%
2019-10-02  16871     19469  1154436           1.68%
2019-10-03  18702     19255  1088577           1.76%
2019-10-04  42657     27039  1346162           2.00%
2019-10-05  34564     23492  1271176           1.84%
2019-10-06  30995     22169  1263876           1.75%
2019-10-07  17570     21378  1160929           1.84%
2019-10-08  17952     23071  1328893           1.73%
2019-10-09  17886     22747  1306089           1.74%
2019-10-10  18336     21992  1242891           1.76%
2019-10-11  20733     26224  1447502           1.81%
2019-10-12  19998     25373  1433723           1.76%
2019-10-13  24124     29561  1584488           1.86%
2019-10-14  43591     28405  1381286           2.05%
2019-10-15  48066     26371  1466116           1.79%
2019-10-16  43936     31393  1445559           2.17%
2019-10-17  39281     28317  1338173           2.11%
2019-10-18  38879     25849  1415597           1.82%
2019-10-19  38285     24657  1384908           1.78%
2019-10-20  39375     25097  1443869           1.73%
2019-10-21  35485     25165  1343132           1.87%
2019-10-22  36027     25383  1354156           1.87%
2019-10-23  35372     24730  1319648           1.87%
2019-10-24  34592     23999  1256473           1.91%
2019-10-25  35551     23883  1374227           1.73%
2019-10-26  33722     22653  1289569           1.75%
2019-10-27  33147     23401  1330652           1.75%
2019-10-28  17193     21111  1221695           1.72%
2019-10-29  16597     20372  1189864           1.71%
2019-10-30  16458     20815  1172126           1.77%
2019-10-31  16305     20097  1208384           1.66%

### 分时

In [6]:
behavior_info_byhour = data.groupby(['event_hour', 'event_type']).agg({'event_type': 'count'}).unstack()
behavior_info_byhour.columns = ['cart','purchase','view']
behavior_info_byhour['conversion_rate'] = (behavior_info_byhour['purchase'] / behavior_info_byhour['view']*100).astype(str).apply(lambda x: x[:4]) + '%'
behavior_info_byhour

             cart  purchase     view conversion_rate
event_hour
0            3869      2949   299740           0.98%
1            7525      5526   545513           1.01%
2           17279     13968  1036894           1.34%
3           33642     29632  1485498           1.99%
4           46636     41143  1826073           2.25%
5           55476     48068  2020202           2.37%
6           60607     52002  2154159           2.41%
7           62460     53404  2217399           2.40%
8           65016     55195  2267568           2.43%
9           65031     55182  2228945           2.47%
10          61901     51902  2181257           2.37%
11          57999     47311  2086570           2.26%
12          53231     41840  2040518           2.05%
13          50666     39135  2263309           1.72%
14          48898     37363  2590043           1.44%
15          48949     37632  2892301           1.30%
16          45482     35772  2971773           1.20%
17          38329     30872  2663078           1.15%
18          30085     24321  2069058           1.17%
19          19712     16747  1303958           1.28%
20          11330      9892   722698           1.36%
21           6840      6278   425065           1.47%
22           4325      3837   264757           1.44%
23           3155      2802   215965           1.29%

### 分品牌

In [21]:
behavior_info_bybrand = data.groupby(['brand', 'event_type']).agg({'event_type': 'count'}).unstack()
behavior_info_bybrand.columns = ['cart','purchase','view']
behavior_info_bybrand['conversion_rate'] = (behavior_info_bybrand['purchase'] / behavior_info_bybrand['view']*100).astype(str).apply(lambda x: x[:4]) + '%'
behavior_info_bybrand.query('purchase > 0').sort_values(by='conversion_rate', ascending=False)

          cart  purchase   view conversion_rate
brand
faans        0         2     22           9.09%
alumet       0         1     11           9.09%
rimmel       0         1     11           9.09%
crusader     0         1     11           9.09%
unikum       0         3     36           8.33%
...        ...       ...    ...             ...
dometic      0         3   7954           0.03%
betsy        0         1   2815           0.03%
agl          0         2   7026           0.02%
ezetil       0         1   4353           0.02%
weekend      0         2  11241           0.01%

[1983 rows x 4 columns]

### 分类别

In [16]:
behavior_info_bycategory = data.groupby(['category', 'event_type']).agg({'event_type': 'count'}).unstack()
behavior_info_bycategory.columns = ['cart','purchase','view']
behavior_info_bycategory['conversion_rate'] = (behavior_info_bycategory['purchase'] / behavior_info_bycategory['view']*100).astype(str).apply(lambda x: x[:4]) + '%'
behavior_info_bycategory.query('purchase > 0').sort_values(by='conversion_rate', ascending=False)

                cart  purchase      view conversion_rate
category
electronics   653158    422979  15035552           2.81%
medicine         514       310     13974           2.21%
stationery       106       134      7380           1.81%
appliances     89371     74988   4799522           1.56%
computers      26821     27853   2268655           1.22%
construction   10081      7801    712635           1.09%
kids            2534      5482    512260           1.07%
auto            8916     10619    993338           1.06%
sport           1015      1236    174292           0.70%
accessories      537      1587    236098           0.67%
furniture       2331      8299   1236357           0.67%
apparel           26      8002   1534827           0.52%
country_yard      53        72     13955           0.51%

### 分小类

In [18]:
behavior_info_bysubcat = data.groupby(['category', 'sub_category','event_type']).agg({'event_type': 'count'}).unstack()
behavior_info_bysubcat.columns = ['cart','purchase','view']
behavior_info_bysubcat['conversion_rate'] = (behavior_info_bysubcat['purchase'] / behavior_info_bysubcat['view']*100).astype(str).apply(lambda x: x[:4]) + '%'
behavior_info_bysubcat.query('purchase > 0').sort_values(by='conversion_rate', ascending=False)

                                 cart  purchase        view conversion_rate
category     sub_category
electronics  smartphone      532007.0  337979.0  10617327.0           3.18%
kids         fmcg                98.0     768.0     24199.0           3.17%
electronics  audio            51393.0   35590.0   1486132.0           2.39%
appliances   iron              3967.0    3652.0    157630.0           2.31%
medicine     tools              514.0     310.0     13974.0           2.21%
electronics  video            35174.0   21643.0   1068782.0           2.02%
appliances   ironing_board      350.0     664.0     34264.0           1.93%
electronics  tablet            8809.0    5602.0    301953.0           1.85%
stationery   cartrige           106.0     134.0      7380.0           1.81%
appliances   personal          2679.0    2541.0    144420.0           1.75%
             environment      23768.0   18073.0   1104943.0           1.63%
electronics  telephone         5261.0    3738.0    238541.0           1.56%
appliances   kitchen          56383.0   48119.0   3210271.0           1.49%
electronics  clocks           19961.0   17903.0   1272495.0           1.40%
computers    notebook         15220.0   15588.0   1106254.0           1.40%
             peripherals       5961.0    5225.0    377057.0           1.38%
appliances   sewing_machine    2224.0    1939.0    147994.0           1.31%
construction components          45.0     297.0     25481.0           1.16%
             tools            10036.0    7504.0    687154.0           1.09%
auto         accessories       8916.0   10619.0    993338.0           1.06%
kids         carriage           937.0    2281.0    216973.0           1.05%
electronics  camera             553.0     524.0     50322.0           1.04%
kids         swing              145.0     330.0     31595.0           1.04%
sport        trainer            351.0     367.0     35267.0           1.04%
computers    components        1987.0    3514.0    338511.0           1.03%
             ebooks             470.0     294.0     29080.0           1.01%
kids         toys               482.0    1055.0    109086.0           0.96%
furniture    kitchen            918.0    1898.0    211548.0           0.89%
apparel      belt                 NaN      21.0      2448.0           0.85%
kids         skates             686.0     704.0     84795.0           0.83%
furniture    bathroom            13.0     245.0     30044.0           0.81%
country_yard lawn_mower          42.0      44.0      5407.0           0.81%
apparel      sock                 7.0      21.0      2619.0           0.80%
computers    desktop           3183.0    3232.0    417753.0           0.77%
kids         dolls              186.0     344.0     45612.0           0.75%
accessories  wallet               NaN     310.0     43282.0           0.71%
             bag                532.0    1253.0    188922.0           0.66%
sport        bicycle            655.0     838.0    128732.0           0.65%
furniture    bedroom            947.0    2498.0    398480.0           0.62%
accessories  umbrella             5.0      24.0      3894.0           0.61%
furniture    living_room        453.0    3618.0    586366.0           0.61%
apparel      shoes                NaN    7082.0   1201238.0           0.58%
sport        ski                  NaN      16.0      3020.0           0.52%
furniture    universal            NaN      40.0      9919.0           0.40%
apparel      scarf                NaN      10.0      2513.0           0.39%
             skirt                NaN       4.0      1025.0           0.39%
country_yard cultivator          11.0      28.0      7140.0           0.39%
apparel      costume              NaN     489.0    134508.0           0.36%
             shorts               NaN       2.0       630.0           0.31%
             tshirt              19.0      58.0     18889.0           0.30%
             shirt                NaN      38.0     13476.0           0.28%
sport        tennis               9.0       9.0      3526.0           0.25%
apparel      jeans                NaN     140.0     56600.0           0.24%
             jacket               NaN       1.0       435.0           0.22%
             underwear            NaN      97.0     44374.0           0.21%
sport        snowboard            NaN       6.0      3747.0           0.16%
apparel      trousers             NaN      22.0     16091.0           0.13%
             jumper               NaN       2.0      2662.0           0.07%
             dress                NaN      15.0     37319.0           0.04%

### 分商品

In [19]:
behavior_info_bypname = data.groupby(['product_name','event_type']).agg({'event_type': 'count'}).unstack()
behavior_info_bypname.columns = ['cart','purchase','view']
behavior_info_bypname['conversion_rate'] = (behavior_info_bypname['purchase'] / behavior_info_bypname['view']*100).astype(str).apply(lambda x: x[:4]) + '%'
behavior_info_bypname.query('purchase > 0').sort_values(by='conversion_rate', ascending=False)

                  cart  purchase        view conversion_rate
product_name
smartphone    532007.0  337979.0  10617327.0           3.18%
diapers           98.0     768.0     24199.0           3.17%
headphone      49886.0   30501.0   1018333.0           2.99%
iron            3967.0    3652.0    157630.0           2.31%
microwave       4627.0    3708.0    164944.0           2.24%
...                ...       ...         ...             ...
soldering          NaN       1.0       631.0           0.15%
slipons            NaN       8.0      5677.0           0.14%
trousers           NaN      22.0     16091.0           0.13%
jumper             NaN       2.0      2662.0           0.07%
dress              NaN      15.0     37319.0           0.04%

[119 rows x 4 columns]

## 用户流量图

In [5]:
sub_data = data[['event_type','user_id','product_id']]
sub_data

         event_type    user_id  product_id
0              view  541312140    44600062
1              view  554748717     3900821
2              view  519107250    17200506
3              view  550050854     1307067
4              view  535871217     1004237
...             ...        ...         ...
42413552       view  537931532     2300275
42413553       view  527322328    10800172
42413554       view  566280422     5701038
42413555       view  513118352    21407424
42413556       view  525266378    13300120

[42413557 rows x 3 columns]

In [6]:
user_route = sub_data.groupby(['product_id','user_id','event_type']).agg({'event_type': 'nunique'}).unstack().fillna(0)
user_route

                     event_type
event_type                 cart purchase view
product_id user_id
1000978    489962790        0.0      0.0  1.0
           490574809        0.0      0.0  1.0
           493091524        0.0      0.0  1.0
           502430435        0.0      0.0  1.0
           503271412        0.0      0.0  1.0
...                         ...      ...  ...
60500009   562570257        0.0      0.0  1.0
           565573952        0.0      0.0  1.0
60500010   513174842        0.0      0.0  1.0
           544126884        0.0      0.0  1.0
           544240256        0.0      0.0  1.0

[23307630 rows x 3 columns]

In [7]:
user_route.columns   = ['cart','purchase','view']
user_route = user_route[['view','cart','purchase']]
user_route

                      view  cart  purchase
product_id user_id
1000978    489962790   1.0   0.0       0.0
           490574809   1.0   0.0       0.0
           493091524   1.0   0.0       0.0
           502430435   1.0   0.0       0.0
           503271412   1.0   0.0       0.0
...                    ...   ...       ...
60500009   562570257   1.0   0.0       0.0
           565573952   1.0   0.0       0.0
60500010   513174842   1.0   0.0       0.0
           544126884   1.0   0.0       0.0
           544240256   1.0   0.0       0.0

[23307630 rows x 3 columns]

In [8]:
user_route['rounte'] = user_route.astype(int).astype(str).agg('-'.join, axis=1)
user_route

                      view  cart  purchase rounte
product_id user_id
1000978    489962790   1.0   0.0       0.0  1-0-0
           490574809   1.0   0.0       0.0  1-0-0
           493091524   1.0   0.0       0.0  1-0-0
           502430435   1.0   0.0       0.0  1-0-0
           503271412   1.0   0.0       0.0  1-0-0
...                    ...   ...       ...    ...
60500009   562570257   1.0   0.0       0.0  1-0-0
           565573952   1.0   0.0       0.0  1-0-0
60500010   513174842   1.0   0.0       0.0  1-0-0
           544126884   1.0   0.0       0.0  1-0-0
           544240256   1.0   0.0       0.0  1-0-0

[23307630 rows x 4 columns]

In [13]:
# user_route.to_csv('data/user_route1.csv')

In [ ]:
user_route['rounte'].value_counts()

rounte
1-0-0    22509736
1-0-1      298539
1-1-1      259544
1-1-0      239130
0-1-0         280
0-0-1         259
0-1-1         142
Name: count, dtype: int64

In [24]:
import plotly.graph_objects as go

# 创建流量图
fig = go.Figure(go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color="black", width=0.5),
        label=["PV", "Cart", "Purchase", "Drop-off"],
    ),
    link=dict(
        source=[0, 0, 0, 1, 1],  # PV -> Cart, pv -> Purchase, pv -> Drop-off, Cart -> Purchase, Cart -> Drop-off
        target=[3, 2, 1, 2, 3],
        value=[2250973,298539,498674,259544,239130]
    )
))

fig.update_layout(title_text="用户行为流向图", font_size=10)
fig.show()

In [ ]:
# 创建流量图
fig = go.Figure(go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color="black", width=0.5),
        label=["PV", "Cart", "Purchase", "Drop-off"],
    ),
    link=dict(
        source=[0, 0,  1, 1],  # PV -> Cart, pv -> Purchase, pv -> Drop-off, Cart -> Purchase, Cart -> Drop-off
        target=[1, 2,  2, 3],
        value=[498674,298539,259544,239130]
    )
))

fig.update_layout(title_text="用户行为流向图", font_size=10)
fig.show()

In [31]:
# pyecharts画流量图
from pyecharts import options as opts
from pyecharts.charts import Sankey
# 定义节点和链接数据
nodes = [
    {"name": "View"},
    {"name": "Cart"},
    {"name": "Purchase"},
    {"name": "Drop-off"},
]

links = [
    {"source": "View", "target": "Cart", "value": 498674},
    {"source": "View", "target": "Purchase", "value": 298539},
    {"source": "View", "target": "Drop-off", "value": 2250973},
    {"source": "Cart", "target": "Purchase", "value": 259544},
    {"source": "Cart", "target": "Drop-off", "value": 239130},

]
# 创建桑基图对象
sankey = Sankey()

# 添加数据
sankey.add("", nodes, links, linestyle_opt=opts.LineStyleOpts(opacity=0.2, curve=0.5, color="source"), label_opts=opts.LabelOpts(position="right"))

# 设置全局选项
sankey.set_global_opts(title_opts=opts.TitleOpts(title="桑基图示例"))

sankey.render("sankey_chart.html")

'c:\\Users\\29610\\Desktop\\REES46 ecommerce dataset\\sankey_chart.html'

# 商品价值
- '下单数','动销商品数','gmv','单均价'

In [106]:
# 商品价值
product_info = data.query('event_type == "purchase"').groupby('event_type').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})
product_info.columns = ['下单数','动销商品数','gmv','单均价']
product_info

               下单数  动销商品数           gmv         单均价
event_type
purchase    742773  42241  2.299332e+08  309.560542

## 分类别

In [110]:
product_info_bycategory = data.query('event_type == "purchase"').groupby('category').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})
product_info_bycategory.columns = ['下单数','动销商品数','gmv','单均价']
product_info_bycategory

                 下单数  动销商品数           gmv         单均价
category
accessories     1587    554  6.878388e+04   43.342079
apparel         8002   2512  6.249378e+05   78.097694
appliances     74988   4838  1.358176e+07  181.119120
auto           10619    609  1.273956e+06  119.969461
computers      27853   2638  1.137787e+07  408.497139
construction    7801    939  9.329950e+05  119.599413
country_yard      72     29  1.569545e+04  217.992361
electronics   422979   4698  1.764456e+08  417.149735
furniture       8299   1634  1.673243e+06  201.619835
kids            5482   1007  6.781407e+05  123.703150
medicine         310     12  1.350042e+04   43.549742
sport           1236    270  3.225590e+05  260.970065
stationery       134     63  2.027380e+03   15.129701

## 分小类

In [112]:
product_info_bysubcate = data.query('event_type == "purchase"').groupby(['category','sub_category']).agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bysubcate.columns =  ['下单数','动销商品数','gmv','单均价']

product_info_bysubcate.query('下单数 > 0')

                                下单数  动销商品数           gmv         单均价
category     sub_category
accessories  bag               1253    421  5.315553e+04   42.422610
             umbrella            24      8  6.115200e+02   25.480000
             wallet             310    125  1.501683e+04   48.441387
apparel      belt                21      9  1.222400e+03   58.209524
             costume            489     90  4.649298e+04   95.077669
             dress               15     13  8.713100e+02   58.087333
             jacket               1      1  4.323000e+01   43.230000
             jeans              140     64  6.163230e+03   44.023071
             jumper               2      1  6.126000e+01   30.630000
             scarf               10      8  2.419300e+02   24.193000
             shirt               38     25  1.940570e+03   51.067632
             shoes             7082   2178  5.612413e+05   79.248988
             shorts               2      1  3.218000e+01   16.090000
             skirt                4      2  1.098500e+02   27.462500
             sock                21      8  1.283080e+03   61.099048
             trousers            22     13  1.102310e+03   50.105000
             tshirt              58     34  2.028640e+03   34.976552
             underwear           97     65  2.103450e+03   21.685052
appliances   environment      18073    953  2.320239e+06  128.381508
             iron              3652    269  2.236072e+05   61.228697
             ironing_board      664     43  2.633348e+04   39.658855
             kitchen          48119   3084  1.053302e+07  218.895239
             personal          2541    307  7.420488e+04   29.203022
             sewing_machine    1939    182  4.043560e+05  208.538437
auto         accessories      10619    609  1.273956e+06  119.969461
computers    components        3514    768  4.515633e+05  128.504058
             desktop           3232    445  1.116822e+06  345.551355
             ebooks             294     22  4.783162e+04  162.692585
             notebook         15588    614  8.978883e+06  576.012537
             peripherals       5225    789  7.827705e+05  149.812544
construction components         297    115  1.490295e+04   50.178283
             tools             7504    824  9.180921e+05  122.347024
country_yard cultivator          28     10  9.204610e+03  328.736071
             lawn_mower          44     19  6.490840e+03  147.519091
electronics  audio            35590   1356  4.151286e+06  116.641928
             camera             524     96  2.464606e+05  470.344695
             clocks           17903   1439  4.817089e+06  269.066025
             smartphone      337979    924  1.570339e+08  464.626246
             tablet            5602    222  1.610917e+06  287.561123
             telephone         3738    255  1.267313e+05   33.903502
             video            21643    406  8.459179e+06  390.850590
furniture    bathroom           245     83  2.029459e+04   82.835061
             bedroom           2498    471  3.848088e+05  154.046777
             kitchen           1898    422  1.789866e+05   94.302724
             living_room       3618    627  1.086465e+06  300.294229
             universal           40     31  2.688480e+03   67.212000
kids         carriage          2281    356  3.706734e+05  162.504787
             dolls              344     99  1.366227e+04   39.715901
             fmcg               768    115  1.049767e+04   13.668841
             skates             704     96  2.025823e+05  287.758935
             swing              330     62  4.475647e+04  135.625667
             toys              1055    279  3.596855e+04   34.093412
medicine     tools              310     12  1.350042e+04   43.549742
sport        bicycle            838    193  2.036947e+05  243.072470
             ski                 16     12  3.918380e+03  244.898750
             snowboard            6      4  1.589220e+03  264.870000
             tennis               9      9  3.452400e+02   38.360000
             trainer            367     52  1.130114e+05  307.933052
stationery   cartrige           134     63  2.027380e+03   15.129701

## 分商品名

In [114]:
product_info_bypname = data.query('event_type == "purchase"').groupby('product_name').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bypname.columns = ['下单数','动销商品数','gmv','单均价']

product_info_bypname.query('下单数 > 0')

                   下单数  动销商品数         gmv         单均价
product_name
acoustic           888    171   205951.27  231.927106
air_conditioner    411     98   201596.51  490.502457
air_heater        2483    232   110755.87   44.605667
alarm             2441     76   335979.32  137.640033
bag               1253    421    53155.53   42.422610
...                ...    ...         ...         ...
wallet             310    125    15016.83   48.441387
washer           16146    342  4658223.46  288.506346
water_heater      2774    199   290985.54  104.897455
welding           1081     88   173856.12  160.828973
winch               26      7    14555.14  559.813077

[119 rows x 4 columns]

## 分品牌

In [115]:
product_info_bybrand = data.query('event_type == "purchase"').groupby('brand').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bybrand.columns = ['下单数','动销商品数','gmv','单均价']

product_info_bybrand.query('下单数 > 0')

         下单数  动销商品数       gmv         单均价
brand
a-case    58     17    275.26    4.745862
a-derma    1      1     12.36   12.360000
a-mega     9      5   1031.47  114.607778
abk        6      1     69.36   11.560000
abtoys     7      1    324.17   46.310000
...      ...    ...       ...         ...
zoom       1      1    167.31  167.310000
zotac      4      2    279.43   69.857500
zte      173      3  13623.87   78.750694
zubr      14      8    659.05   47.075000
zuru       2      1     25.68   12.840000

[1983 rows x 4 columns]

## 分商品id

In [23]:
product_info_bybrand = data.query('event_type == "purchase"').groupby('product_id').agg({'product_id': ['count','nunique'],'price': ['sum','mean']})

product_info_bybrand.columns = ['下单数','动销商品数','gmv','单均价']

product_info_bybrand.query('下单数 > 0')

            下单数  动销商品数      gmv         单均价
product_id
1000978      12      1  3840.13  320.010833
1001588      12      1  1538.18  128.181667
1002042       3      1   231.42   77.140000
1002062      18      1  1723.47   95.748333
1002098      13      1  4818.32  370.640000
...         ...    ...      ...         ...
59000007      1      1    47.88   47.880000
60400006      1      1   332.05  332.050000
60500001      4      1   102.34   25.585000
60500002      4      1   170.82   42.705000
60500009      1      1    27.21   27.210000

[42241 rows x 4 columns]

# 用户价值